@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');

/* CSS GERAL */

html, body {
  font-family: 'Nunito', sans-serif !important;
}

body {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* MODAL */

/* Estilo para o overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-dropdown {
  position: fixed;
  top: 130px; 
  right: 130px; 
  z-index: 1000;
}

.modal-content-not {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  min-width: 500px;
  min-height: 500px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

/* Estilo para o conteúdo do modal */
.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o botão de fechar */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease;
}

.modal-close:hover {
  color: #333;
}

/* Estilo para o título do modal */
.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Estilo para o corpo do modal */
.modal-body {
  font-size: 1rem;
}

.modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal select{
  width: 90%;
   padding: 10px;
    flex-shrink: 0;
    fill: #FFF;
    box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25) inset;
    border: 0;
    color: #686868;
    font-size: 15px;
    margin-bottom: 15px;
}

.modal input{
  width: 90%;
  padding: 10px;
    flex-shrink: 0;
    fill: #FFF;
    box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25) inset;
    border: 0;
    color: #686868;
    font-size: 15px;
    margin-bottom: 15px;
}

.modal button {
  width: 35%;
  height: 3rem;
  flex-shrink: 0;
  background-color: #004F9E;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25) inset;
  color: #FFF;
  font-size: 90%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: none;
  align-self: center;
  cursor: pointer;
}

/* FILTROS */

.filtro-container {
  position: relative;
  display: inline-block;
}

.filtro-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.filtro-opcoes {
  position: absolute;
  top: 35%; 
  right: 20%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  padding: 8px;
  min-width: 120px;
}

.filtro-opcoes div {
  padding: 6px 10px;
  cursor: pointer;
}

.filtro-opcoes div:hover {
  background-color: #f0f0f0;
}

.dash{

  display: flex;
  justify-content: center;
  align-items: center;
}