.bolaTempo {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background-color: #f50;
  border-radius: 100%;
}

.linhaTempo {
  width: 3px;
  height: 314px;
  background: #f50;
}

.tempo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 1%;
  width: 60%;
  padding: 2%;
  height: 50%;
}

.botao-maq {
  padding: 6px 16px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.botao-maq.finalizado {
  background-color: #4caf50;
}

.botao-maq.aberto {
  background-color: #f44336;
}

.botao-maq.em-andamento {
  background-color: #ff9800;
}

.mainCard {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.data {
  color: #000;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.6%;
  margin-left: 1%;
}

.font {
  color: #000;
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 2%;
}

.pagCard {
  width: 100%;
}

.inputDesc {
  background-color: #d9d9d9;
  color: #000;
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 2%;
  padding: 1%;
  width: 90%;
  height: 20%;
}

.desc{

  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
