/* CSS MINI NAV CHAMADOS */

.abaChamado{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container-chamados {
  background-color: #0d2b6c;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 98%;
}

.container-chamados h1{
  color: white;
}

.mini-navbar {
  display: flex;
  background-color: #0d2b6c;
  overflow: hidden;
  width: 90%;
}

.tab-button {
  background: transparent;
  color: white;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  outline: none;
  padding: 5px 20px;
  width: 150px;
}

.tab-button.active {
  background-color: white;
  color: black;
}

.conteudo-chamado {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 75vh;
  flex-direction: column;
}


.filter {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 98%;
  justify-content: end;
  margin: 20px;
  gap: 2%;
}

.filter img{
  width: 30px;
  height: 30px;
}

.chamados {
  width: 90%;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CARD CHAMADO */

.card-chamado {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 24px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  margin: 16px 0;
  width: 80%;
  box-shadow: 0 4px 12px rgba(2, 2, 0.3, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.card-chamado:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

/* Colunas */
.coluna-esquerda, .coluna-centro, .coluna-direita {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}

.coluna-esquerda {
  flex: 1;
}

.coluna-centro {
  flex: 1.5;
}

.coluna-direita {
  flex: 1;
  align-items: end;
}

/* Tipografia */
.card-chamado strong {
  font-size: 1.05rem;
  color: #1a1a1a;
}

.card-chamado p {
  margin: 4px 0;
  color: #444;
  font-size: 0.95rem;
}

.status {
  font-weight: bold;
  margin-top: 4px;
}

/* Data */
.data {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 0.95rem;
}

/* Prioridade visual */
.prioridade {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

.bolinha {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.chamadoaberto{
    min-width: 60%;
}

/* CSS MINI NAV CHAMADOS */

.abaChamado{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container-chamados {
  background-color: #0d2b6c;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 98%;
}

.container-chamados h1{
  color: white;
}

.mini-navbar {
  display: flex;
  background-color: #0d2b6c;
  overflow: hidden;
  width: 90%;
}

.tab-button {
  background: transparent;
  color: white;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  outline: none;
  padding: 5px 20px;
  width: 150px;
}

.tab-button.active {
  background-color: white;
  color: black;
}

.conteudo-chamado {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 75vh;
  flex-direction: column;
}

.abrir{
  background-color: #9F0000;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1em;
  padding: 8px 35px;
}

.abrir:hover{
  background-color: #b90000;
  cursor: pointer;
}

.but_filtro{
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.filter {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 98%;
  justify-content: end;
  margin: 20px;
  gap: 2%;
}

.filter img{
  width: 30px;
  height: 30px;
}

.chamados {
  width: 90%;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CARD CHAMADO */

.card-chamado {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 24px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin: 16px 0;
  width: 80%;
  box-shadow: 0 4px 12px rgba(2, 2, 0.3, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-chamado:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

/* Colunas */
.coluna-esquerda, .coluna-centro, .coluna-direita {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}

.coluna-esquerda {
  flex: 1;
}

.coluna-centro {
  flex: 1.5;
}

.coluna-direita {
  flex: 1;
  align-items: end;
}

/* Tipografia */
.card-chamado strong {
  font-size: 1.05rem;
  color: #1a1a1a;
}

.card-chamado p {
  margin: 4px 0;
  color: #444;
  font-size: 0.95rem;
}

.status {
  font-weight: bold;
  margin-top: 4px;
}

/* Data */
.data {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 0.95rem;
}

/* Prioridade visual */
.prioridade {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

.bolinha {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}